name: CI
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true # Super fast subsequent runs
      - name: Check code style with Ruff
        run: uv run ruff check . # <-- Moved back to line up with "name:"
      - name: Run Tests
        run: uv run pytest
